.drawer {
    position: fixed;
    top: -3000px; /* Initially hidden above the viewport */
    left: 0;
    width: 100%;
    height: 80%;
    transition: top 0.6s ease; /* Smooth transition for the top property */
    z-index: 500;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px; /* Padding to keep content from edges */
    box-sizing: border-box; /* Ensure padding is included in width/height calculations */
    background-color: #5b1e4a;
    background-image: url('./assets/bg.png');
    background-position: bottom right; /* Positions the image in the bottom-right corner */
  background-size: 60% auto; /* Adjusts the size of the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}


.drawer.open {
    top: 140px; /* Slide in to the top of the viewport */
}

.drawer-content {
    padding: 20px;
    color: #fff;

}

.close-button {
    position: absolute;
    top: 50px; /* Adjust as needed for vertical positioning */
    right: 50px; /* Adjust as needed for horizontal positioning */
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}


.close-button:hover {
    transform: scale(1.1);
}

@media (max-width: 668px) {
    .drawer.open {
        top: 100px; /* Slide in to the top of the viewport */
        height: 90%;
    }
}