:root {
    --background-color: #d2e0bd;
    --header-color: #708e46;
    --primary-color: rgba(42, 57, 25, 255);
    --secondary-color: rgba(99, 127, 68, 255);
    --button-font-color: #ffffff;
    --card-bg: #ffffff;
    --button-color: #8ab14d;
}

.edit-car-page {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: var(--header-color);
    text-align: center;
    margin-bottom: 20px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    /* 3 columns with each being 220px wide */
    justify-content: center;
    gap: 60px;
    /* Set gap between grid items to 20px */
}

.car-tile {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 220px;
    /* Set tile width to 220px */
    padding: 10px;
    text-align: left;
    margin: 0;
}

.car-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.car-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.car-name {
    font-weight: bold;
    color: var(--primary-color);
}

.car-actions {
    display: flex;
    gap: 5px;
}

.edit-button,
.delete-button {
    background-color: var(--button-color);
    border: none;
    color: var(--button-font-color);
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: var(--secondary-color);
}

.more-button {
    display: block;
    margin: 20px auto;
    background-color: var(--button-color);
    color: var(--button-font-color);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more-button:hover {
    background-color: var(--secondary-color);
}