.planner {

    padding: 15px;

    margin-top: 5px;
}

.planner h2 {
    text-align: left;
}

.trip-panner {
    margin-bottom: 0;
}

.trip-panner h3 {
    margin: 0;
}

.trip-panner p {
    margin: 5px 0 0;
}