.planner {

    padding: 20px;
    margin: 0;

}

.planner h2 {
    text-align: left;

}

.trip-panner {
    margin-bottom: 5px;
}

.trip-panner h3 {
    margin: 0;

}

.trip-panner p {
    margin: 5px 0 0;
}