.planner {

    padding: 10px;

    margin-top: 5px;
}

.planner :hover {
    background: var(--card-bg);
    /* Replace with your desired background color if --card-bg is not defined */
    transform: scale(1.01);
    /* Optional: Adds a slight zoom effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* Optional: Adds a shadow effect */
}

.trip-panner {
    margin-bottom: 0;
}

.trip-panner h3 {
    margin: 0;
}

.trip-panner p {
    margin: 5px 0 0;
}