/* Styling for the popup form overlay */
.popup-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* Ensure the popup is on top of other content */
}

/* Styling for the popup form container */
.popup-form-container {
    background-color: #ffffff;
    /* White background */
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    /* Adjust width as needed */
    max-width: 600px;
    /* Limit maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    position: relative;
}

/* Close button for the popup form */
.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #666666;
    /* Light gray color */
}

/* Form styling */
.popup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Ensure form takes full width of container */
}

.popup-form h2 {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    /* Center align the form title */
}

.popup-form-field-row {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    /* Allow fields to wrap on smaller screens */
}

.popup-form-field-column {
    flex: 1 1 45%;
    margin-right: 5px;
    /* Adjust spacing between columns */
    margin-bottom: 10px;
    /* Adjust spacing between rows */
}

.popup-form-field-column:last-child {
    margin-right: 0;
    /* Remove margin from last column */
}

.popup-form-field-column label {
    margin-bottom: 10px;
    font-size: 15px;
}

.popup-input-field,
.popup-file-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(145, 187, 82, 0.5);
    /* Light gray border */
    border-radius: 15px;
    border: none;

}

.popup-input-field:focus,
.popup-file-input:focus {
    outline: none;
    background-color: rgba(145, 187, 82, 0.5);

    /* Highlight color on focus */
}

.popup-submit-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: var(--button-color);
    /* Use button color variable */
    color: var(--button-font-color);
    /* Use button font color variable */
    align-self: flex-start;
    /* Align button to the left */
    transition: background-color 0.3s ease;
}

.popup-submit-button:hover {
    background-color: var(--secondary-color);
    /* Darker shade of button color on hover */
}