.trips .trip.past-trip .trip-image,
.trips .trip.current-trip .trip-image,
.trips .trip.future-trip .trip-image {
    background: url('/src/assets/images/car.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.trips .trip-image {
    width: 140px;
    height: 200px;
    border-radius: 10px;
}

.trips .trip-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 127, 68, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
}

.trip-type {
    background-color: white;
    color: #8ab14d;
    top: 20px;
    left: 10px;
    font-size: 12px;
    width: fit-content;
    z-index: 2;
    position: relative;
}

.destination {
    color: #fff;
    font-size: 20px;
    margin: 0;
    z-index: 5;
    top: 45px;
    position: relative;
    padding: 10px;

}

.trips .trip .time,
.trips .trip .date {
    background-color: #79b242;
    color: #fff;
    padding: 5px;

    font-size: 12px;
    top: 40px;
    width: fit-content;
    z-index: 2;
    position: relative;
    margin: 5px 10px;
}

.trips {
    background-color: var(--button-font-color);
    margin-right: 5px;
    padding: 20px;
}

.trips h2 {
    text-align: start;
}

.trip-navigation {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 12px;

}

.future-trips {
    margin-left: 200px;
}

.past-trips {
    margin-right: 20px;
}

.trip-navigation .future-trips,
.trip-navigation .past-trips {
    cursor: pointer;
    color: var(--secondary-color);
}

.trip-container {
    display: flex;
    justify-content: space-between;
}

.trips .trip {
    border-radius: 10px;
    width: 30%;
    position: relative;
}

.trip-description p {
    color: #79b242;

    font-size: 16px;
}